<%- include("../partials/_head") %>
    <form action="/auth/register" method="post">
        Username: <input type="text" name="username"><br>
        Display Name:<input type="text" name="displayName"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="REGISTER">
    </form>
<% include ../partials/_footer.ejs %>