<%- include("../partials/_head") %>
    <h1>WELCOME TO THE APP LOGGED IN USER <%= user.displayName %></h1>
    <h2>This would be the dashboard page i guess</h2>
    <a href="/plans/new">Start a new plan!</a>
<% include ../partials/_footer.ejs %>