<form action="/auth/login" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="LOGIN">
</form>
<a href="/auth/google">LOG IN WITH GOOGLE</a>