<%- include("../partials/_head") %>
    <h1>Hey heres the place you ordered</h1>
    <p><%= place.name %></p>
    <p>We have access to a wealth of info on this place right here</p>
<% include ../partials/_footer.ejs %>